---
import { SITE } from "../../config";

const { author, description, origin, canonical } = SITE
---

<!-- General -->
<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="canonical" content={canonical} />
<meta property="og:image" content={`${origin}/og/profile.png`} />
<!-- OG Type -->
<meta property="og:image:width" content="592">
<meta property="og:image:height" content="592">
<meta property="og:type" content="website">
<meta property="og:title" content="Pablo Chávez">
<meta property="og:description" content="Desarrollador Full Stack">
<meta property="og:url" content={origin}>
<meta property="og:site_name" content="Pablo Chávez - @PabloChavez03">
<meta property="og:locale" content="es_ES">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Pablo Chávez">
<meta name="twitter:description" content="Desarrollador Full Stack">
<meta name="twitter:image" content={`${origin}/og/profile.png`} />
<meta name="twitter:image:alt" content="My personal website" />
<meta name="twitter:creator" content="@chavezpablo_">
<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/pablito.ico" />
<!-- Title -->
<title>Inicio | {author}</title>
