---
import { PROJECTS } from "../../info/projects";
import Card from '../widgets/card-project.astro';
---

<section id="projects" class="mx-auto max-w-6xl p-4 lg:p-0">
  <header class="mb-3 flex items-center space-x-4">
    <h1 class="text-2xl font-semibold text-gray-300">Mis proyectos</h1>
  </header>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {PROJECTS.map((project) => {
      const {title, description, href, repositoryUrl, techs} = project

      return <Card {title} {description} {href} {repositoryUrl} {techs}/>
    })}
  </div>
</section>
